@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.container__logo {
   display: flex;
    max-width: 1280px;
    justify-content: start;
    margin: 0 auto;

}

.logo {
    display: flex;
    height: 100px;
    align-items: center;
    justify-self: flex-start;
    font-family: 'Roboto';
    font-size: 80px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

 .container__horizantal_nav {
    display: flex;
    width: 1280px;
    justify-content: center;
    background-color: #35444F; 
    height: 69px;
    text-align: center;
    margin: 0 auto;
 }

.child_nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    line-height: 69px;
}

 .child_item a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 24px;
    padding: 18px 30px 21px;
    border-left: 1px solid white;
}

.child_item_last a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 24px;
    padding: 18px 30px 21px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.child_item a:hover {
    background-color: #222F3A;
  }
.child_item_last a:hover {
    background-color: #222F3A;
  }

.main_container {
   display: flex;
   align-items: center;
   border: gray;
   max-width: 1280px;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
 }
   .first__child {
   width: 350px;
   height: 395px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #000;
   flex-direction: column;
   margin-bottom: 354px;
}

.sesond__child {
   width: 885px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
}

 .second_nav_item a {
   text-decoration: none;
   font-family: 'Roboto';
   font-size: 27px;
   line-height: 27px;
   color: #485863;
   display: flex;
   justify-content: space-between;
   padding: 26px 82px 26px 44px;
   transition: 0.9s;
 }

 .second_nav_item a:hover {
   background-color: #DBDBDB;
   padding-left: 60px;
 }

 img {
   border: 1px solid #000;
   padding: 73px 270px;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
img:hover {
   transform: scale(1.1);
   transition: transform .5s ease-in-out;
 }

p {
   font-family: 'Roboto';
   font-size: 18px;
   line-height: 24px;
   color: #2C2C2C;
   margin-left: 8px;
}

.footer__container {
   display: flex;
   max-width: 1280px;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(99, 105, 110, 0.48);
   margin: 0 auto; 
   height: 69px;
}

.child_footer {
   max-width: 1280px;
   text-align: start;
   display: flex;
   justify-content: start;
   align-items: start;
   text-decoration: none;
}

.footer_item a {
   padding: 12px;
   justify-content: start;
   align-items: center;
   font-family: 'Roboto';
   font-size: 28px;
   line-height: 28px;
   display: flex;
   align-items: center;
   color: #0C1927;
   text-decoration: none;
}

.footer_item_last a {
   padding: 12px;
   justify-content: end;
   align-items: end;
   font-family: 'Roboto';
   font-size: 28px;
   line-height: 28px;
   display: flex;
   align-items: center;
   color: #0C1927;
   text-decoration: none;
   padding-left: 135px;
}

.footer_item a:hover {
   color: #3181A6;
   text-decoration-line: underline;
   text-underline-offset: 13px;
 }
 
